<div class="backdrop">
  <div class="editor-modal">

    <div class="toolbar">

      <button class="tool" (click)="setTool('draw')" [class.active]="currentTool==='draw'">✏</button>

      <button class="tool" (click)="setTool('rectangle')" [class.active]="currentTool==='rectangle'">▢</button>

      <button class="tool" (click)="setTool('circle')" [class.active]="currentTool==='circle'">◯</button>

      <button class="tool" (click)="setTool('dottedRectangle')"
        [class.active]="currentTool==='dottedRectangle'">▭</button>

      <button class="tool" (click)="setTool('dottedCircle')" [class.active]="currentTool==='dottedCircle'">⬭</button>

      <span class="label">Color:</span>
      <input type="color" [(ngModel)]="drawColor">

      <span class="label">Width:</span>
      <input type="range" min="1" max="20" [(ngModel)]="lineWidth">

      <!--Brightness -->
      <span class="label">Brightness:</span>
      <input type="range" min="50" max="200" [(ngModel)]="brightness" (input)="redrawBase(); redrawShapes()">

      <!-- Actions -->
      <button class="action" (click)="reset()">Reset</button>

      <button class="action" (click)="setTool('crop')" [class.active]="currentTool==='crop'">
        Crop
      </button>

      <button class="action" *ngIf="currentTool==='crop' && cropSelection !== null" (click)="applyCrop()">
        Apply Crop
      </button>

      <button class="action" (click)="rotate('left')">⟲</button>
      <button class="action" (click)="rotate('right')">⟳</button>

    </div>


    <div class="canvas-area">
      <canvas #canvas (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()"
        (mouseleave)="onMouseUp()">
      </canvas>
    </div>


    <div class="footer">

      <label class="checkbox">
        <input type="checkbox" [(ngModel)]="enlarged">
        Enable enlarged view in final report.
      </label>

      <div class="caption-box">
        <label>Caption:</label>
        <input maxlength="30" [(ngModel)]="caption">
        <span>{{caption.length}}/30</span>
      </div>

      <div class="footer-btns">
        <button class="btn save" (click)="save()">Save</button>
        <button class="btn close" (click)="closed.emit()">Close</button>
      </div>

    </div>

  </div>
</div>